body{
    background-color: rgb(89.4%, 78.8%, 76%);
}
.myH1{
    text-align: center;
    margin-top: 100px;
    
}
.myH2{
    text-align: center;
    margin-bottom: 101px;
}

.myImg{
    height: 200px;
    width: 170px;
    margin-left: 200px;
    margin-bottom: 70px;
}
.myProverb{
    text-align: center;
    border: 1px solid rgb(69.5%, 52.2%, 47.7%);
    width: 500px;
    margin-left: 256px;
    border-radius: 10px;
    margin-left: 400px;
}